<!DOCTYPE html>
{% extends 'simple/base.html'%}

{% block styles %}
<style>
.jumbotron {
  text-align: center;
}
</style>

{% endblock %}

{% block jumbotron %}
<h1>welocome to Home page</h1>

  <div class="jumbotron container">
    <h1>Theme example</h1>
    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
  </div>


{% endblock %}



{% block body_block %}
<h1>this is block </h1>
{% endblock %}
